* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: "Inter", sans-serif;
}

#body {
  display: flex;
  flex-direction: column;

  align-items: center;
}

#titulo {
  text-align: center;

  margin: 20px 0 20px 0;
}

#titulo p {
  color: #a6a6a6;
}

.separador {
  text-align: center;

  color: #a6a6a6;
}

.separador div {
  height: 1px;
  margin: 8px 0 20px 0;

  background-color: #a6a6a6;
}

.input {
  border: 1px solid #a6a6a6;
  border-radius: 4px;

  outline: none;
  padding: 5px;

  margin-top: 6px;

  color: #a6a6a6;
}

.inputs-centro {
  display: flex;
  justify-content: space-between;
}

.input-pequeno input,
.input-pequeno select {
  width: 120px;
}

.input-grande input,
.input-grande select {
  width: 270px;
}

#dados {
  width: 400px;
  padding: 30px 25px 30px 25px;

  border: 2px solid black;
  border-radius: 6px;
}

#ingresso,
#quantidade {
  margin-top: 16px;
}

#separador-pessoais {
  margin-top: 30px;
}

#cpf,
#email {
  margin-top: 16px;
}

#me-pagamento {
  margin-top: 16px;
}

.radios,
.radios div {
  display: flex;
  gap: 10px;

  margin-top: 6px;
}

#button {
  text-align: center;
}

#button button {
  text-align: center;

  cursor: pointer;

  width: 180px;
  height: 30px;
  margin-top: 16px;

  border-radius: 4px;
  border: none;
  background-color: black;

  font-weight: bold;
  color: white;
}

@media (min-width: 760px) {
  #dados {
    width: 540px;
  }

  .input-pequeno input,
  .input-pequeno select {
    width: 200px;
  }

  .input-grande input,
  .input-grande select {
    width: 485px;
  }

  #button button {
    width: 280px;
  }
}
